@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 15px;
}

.hello-world {
    padding: 25px;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(to right, green, yellow);
    -webkit-background-clip: text;
    color: transparent;
}

.params {
    width: 100%;
    font-size: 13px;
    border-spacing: 0 6px;
}

.params thead tr td, .params tr td:first-child {
    font-weight: bold;
}

.params tr td {
    padding: 5px 0;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

footer {
    margin: 50px auto;
    text-align: center;
}

footer > a {
    color: black;
    text-decoration: none;
}

/*mobile*/
@media (max-width: 767px) {
    .system {
        width: 80%;
        padding: 10px 10%;
    }
}

/*pad、pc*/
@media (min-width: 768px) {
    .system {
        width: 60%;
        padding: 20px 20%;
    }
}
