@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 15px;
}

#hello-world {
    margin: 100px auto;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: transparent;
}

footer {
    margin: 50px auto;
    text-align: center;
}

footer > a {
    color: black;
    text-decoration: none;
}
